/******************Globales************************/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.icon{
  display:none;
}

body{
  background-color: #d52b82;
  
}

a{
  text-decoration: none;
}

.titulos_amarillos, .capitulo h2 {
  text-align: center;
  color: black;
  background-color: #f7e30c;
  padding: 10px;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  font-family: 'Graduate','Kosugi Maru', 'Patrick Hand', sans-serif;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index:1;
  border-radius: 10px; 
  border: 3px solid black;

}

.titulos_amarillos:hover {
  transform: rotate(-10deg) scale(1.05);
  
}

.titulos_verdes {
  text-align: center;
  color: #000000;
  background-color: #A6CA20;
  text-shadow:1px 1px 0px #ffffff; ;
  padding: 8px;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  font-family: 'Graduate','Kosugi Maru', 'Patrick Hand', sans-serif;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index:1;
  border-radius: 10px; 
  
  
}

.activo{
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px; 
  padding: 8px;
}


/****************** Header ************************/
header {
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.header_alternativo {
    
  
  padding-right: 7%;
  padding-left: 7%;
  display: flex;
  justify-content: space-between;
  background-color: #BB0577;
  position: sticky;
  top: 0;
  z-index: 101;
  
}

/*<<<<<<- Imagen ->>>>>>*/
.img_header {
  grid-column: 1 / 2; 
  grid-row: 1 / 3; 
  overflow: hidden;
}
.img_header img {
  width: 100%; 
  height: 100%;
  transition: transform 0.3s;
}
.img_header:hover img {
  transform: scale(1.05); 
}


/*<<<<<<- Derry Girls ->>>>>>*/
.titulo {
  grid-column: 2 / 3; 
  grid-row: 1 / 2; 
  display: flex; 
  align-items: center;
  justify-content: flex-start;
}
.titulo h1 {
  font-family: 'Graduate', sans-serif;
  text-transform: uppercase;
  font-size: 6vw;
  text-align: center;
  letter-spacing: -0.02em; 
  line-height: 90%;
  color: #f7e30c;
  text-shadow: 5px 3px 0px rgba(0, 255, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
.titulo h1:hover {
  text-shadow: 5px 3px 0px rgba(0, 0, 0, 0.5);
  
}


/*<<<<<<- Barra de Nav ->>>>>>*/
nav {
  grid-column: 2 / 3; 
  grid-row: 2 / 3; 
  display: flex; 
  padding: 8%;
  align-items: start;
  justify-content: center;
  font-family: 'Graduate','Kosugi Maru', 'Patrick Hand', sans-serif;
  font-weight: bold;
  text-align: right;
  letter-spacing: 2px;
}
nav ul{
  list-style: none;
}
nav ul li {
  margin-bottom: 3.1vw; 
}
nav ul li a{
  
  color: white;
  font-size: 1.6vw;
  text-transform: uppercase;
  transition: all 0.3s ease;

}
nav ul li a:hover {
  
  padding: 10px;
  box-shadow:
    0 0 0 4px rgba(255, 34, 141, 1), 
    0 0 0 7px rgb(32, 202, 193), 
    0 0 0 10px rgba(166, 202, 32, 1), 
    0 0 0 14px rgba(239, 116, 61, 1); 
    border-radius: 30px; 
    
  /*color: black;
  font-size: 1.85vw;
  background-color: #f7e30c;
  padding: 10px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  transform: translateY(-2px);*/
  
}


#menu_alternativo ul {
  display: flex; 
  list-style: none; 
}
#menu_alternativo ul li {
  margin: 0 1.6%; 
}
#menu_alternativo ul li a {
  color: white;
  font-size: 1.6vw;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 8px 12px; 
  
}






/****************** Separadores ************************/

#separador_responsive{
  display:none;
}

#separador {
  background-color: #EF743D; 
  width: 100%; 
  overflow: hidden; 
  margin-bottom: 40px;

}

#separador p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: white;
  text-align: center;
  white-space: nowrap; 
  margin: 0;
  padding: 6px 0; 
  animation: slide 10s linear infinite; 
}

#separador2 {
  background-color: #A6CA20;
  width: 100%; 
  overflow: hidden; 
  
}
#separador2 p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: black;
  text-align: center;
  white-space: nowrap; 
  margin: 0;
  padding: 6px 0; 
  animation: slide 10s linear infinite; 
}

#separador_alt, #separador_responsive {
  background-color: #EF743D; 
  width: 100%; 
  overflow: hidden; 
  margin-bottom: 40px;
  position: sticky;
  top: 190px;
  z-index: 102;
}
#separador_alt p, #separador_responsive p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: white;
  text-align: center;
  white-space: nowrap; 
  margin: 0;
  padding: 6px 0; 
  animation: slide 10s linear infinite; 
}

.ventana {
  display: none;
  position: fixed;
  z-index: 103;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.ventana-contenido {
  background-color: #A6CA20;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid black;
  width: 40%;
 
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  text-align: center;
  color: #000000;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  transition: transform 0.3s ease-in-out;
  border-radius: 10px; 
}

.cerrar {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: #BB0577;
  text-decoration: none;
  cursor: pointer;
}

.ventana-contenido h2 {
  font-family: 'Graduate', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.ventana-contenido p {
  font-family: 'Patrick Hand', sans-serif;
  text-align: justify;
  margin-top:1.8vw;
  font-size: 1.6vw;
}


/****************** Principal ************************/

/*<<<<<<- Contenedor general ->>>>>>*/
.principal{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  width: 80%;
  height: 550px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.principal div{
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  border-radius: 10px; 
}


/*<<<<<<- BIENVENIDOS A DERRY ->>>>>>*/
#inicio {
  background-color: #FBEE66;
  border: 2px solid black;
  grid-column: 1; 
  grid-row: 1 / 3;
  background-image: url(../images/Inicio/Inicio3.png);
  background-size: 100%;
  background-position:bottom;
  background-repeat: no-repeat; 
  
}

#inicio h2{
  transform: rotate(-5deg);
}

#inicio:hover {
  background-size: 120%;
  background-color: #A6CA20;
  background-image: url(../images/Inicio/estrellas.png);
  background-position:bottom;
  

}


#inicio a{
  display: flex;
  justify-content: start;
  
}



#inicio p{
  text-align: center;
  color: black;
  background-color: #FF2273;
  padding: 10px;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  font-family: 'Patrick Hand', sans-serif;
  
  transition: transform 0.3s ease-in-out;
  
  border-radius: 10px; 
  border: 3px solid black;
  margin: 20px;
  transform: translateY(-10%) rotate(-5deg) scale(1.1);
  
  
}

#inicio p:hover{
  
  
  transform: translateY(-10%) rotate(0deg) scale(1.1);
  
  
}


/*<<<<<<- PERSONAJES ->>>>>>*/
#personajes, #galeria {
  background-color: #A6CA20;
  border: 2px solid black; 
}

#personajes{
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.9fr;
  grid-template-rows: 1fr auto;
  align-items: center;
}

#personajes a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#personajes img {
  max-width: 100%; 
  height: auto; 
  transition: transform 0.3s; 
}

#personajes a:last-child {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  
   
}

#personajes a:nth-child(1):hover img { 
  transform: rotate(-5deg) scale(1.05);
  filter:grayscale(1);
}
#personajes a:nth-child(2):hover img {
  transform: rotate(5deg) scale(1.05); 
  filter:grayscale(1);
}
#personajes a:nth-child(3):hover img { 
  transform: rotate(-5deg) scale(1.05);
  filter:grayscale(1);
}

.personajes_contenedor {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr;        
                    
  width: 80%;    
  height: 200px;                   
  margin:  60px auto;
  
  justify-items: center; 
      
            
}
.personajes_contenedor div{
  border-radius: 10px; 
}

.personajes_contenedor img{
  height: auto;
  max-width: 160px;
  margin-top: 20px;
  transition: all .3s;
}

.personajes_contenedor img:hover{
  transform: scale(1.2);

  
}

.personajes_contenedor div{
  grid-column: 1/7;
}


/*<<<<<<- GALERIA ->>>>>>*/
#galeria{
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;

}

#galeria a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#galeria img {
  width: 90%;
  height: auto;
  transition: transform 0.3s;
  transform:translateY(-20px);
}

#galeria img:hover {
  animation: temblor 0.5s infinite;
}

#galeria a:first-child { 
  margin-left: 40%;
}

.galeria_contenedor {
  margin-bottom: 5%;
  padding: 2%;
  text-align: center;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  
  
  
  
}

.galeria_contenedor img{
  width: 320px;
  margin-right: 0em;
  border-radius: 10px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  border: 2px solid #000000;
  transition: all 0.3s ease;
}

.galeria_contenedor img:hover{
 
  box-shadow:
    0 0 0 4px rgb(32, 202, 193), 
    0 0 0 7px rgba(166, 202, 32, 1), 
    0 0 0 10px rgba(239, 116, 61, 1); 

    transform: scale(1.2);
    
}

.galeria_section{
  text-align: center;
}

#cambiar_ancho{
  display: inline-block;
  
}



/****************** Secundario ************************/

/*<<<<<<- Contenedor general ->>>>>>*/
.secundario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  grid-template-rows: auto 1fr;        
  gap: 20px;                       
  width: 80%;    
  height: 350px;                   
  margin:  60px auto;      
            
}
.secundario div{
  border-radius: 10px; 
}

.secundario_cap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  grid-template-rows: auto 1fr 1fr;        
                    
  width: 80%;    
  height: 350px;                   
  margin: 2vw auto;
  margin-bottom: 10%;      
            
}
.secundario_cap div{
  border-radius: 10px; 
}



/*<<<<<<- CAPITULOS ->>>>>>*/
#capitulos {
  grid-column: 1 / 4;   
  display: flex;
  justify-content: center;
  align-items: center;
}

#temporada1, #temporada2, #temporada3 {
  background-color: #EF743D;
  color: white;
  text-align: center;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  
}

#temporada1_cap, #temporada2_cap, #temporada3_cap {
  
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

#temporada1 img, #temporada2 img, #temporada3 img {
  max-width: 90%;
  height: auto;
 
}

.capitulo {
  display: flex;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  background-color: #A6CA20;
  color: white;
  text-align: center;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  margin-left: 10vw;
  margin-right: 10vw;

  
 

}
.capitulo:nth-child(even) {
  flex-direction: row-reverse;
}
.capitulo img {
  width: 400px;
  height: auto;
  margin: 20px;
  border-radius: 8px;
}


.capitulo-contenido {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}


.capitulo p {

  padding: 20px;
  margin-top: 50px;
  font-family: 'Patrick Hand', sans-serif;
  color: black;
  border-radius: 10px; 
  border: 3px solid black;
  margin: 20px;
  background-color: #EF743D;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
  transform: scale(1.05);

}

.capitulo h2{
  transform: scale(0.8);
}


/*<<<<<<- TEMPORADA 1 ->>>>>>*/

#temporada1 {
  background-image: url(../images/galeria/Temporada1.png);
  background-size: cover;
  background-position: center;
  overflow: visible;
  transition: all 0.7s ease-in-out;
}

#temporada1:hover {
  background-size: 115%;
  filter: hue-rotate(60deg) saturate(180%);
  

}

#temporada1 h3{
  transform: translateY(70%) rotate(-5deg) scale(1.1);
}
#temporada1 h3:hover {
  transform: translateY(70%) scale(1.1);

}

/*<<<<<<- TEMPORADA 1 CAPITULOS ->>>>>>*/

#temporada1_cap {
  
  overflow: visible;
  transition: all 0.7s ease-in-out;
}


#temporada1_cap h3{
  transform: translateY(90%) rotate(-5deg) scale(1.1);
}
#temporada1_cap p:hover {
  transform: rotate(-9deg) scale(1.3);
  position:relative;
  z-index:400;
  filter: hue-rotate(60deg) saturate(150%);

}
#temporada1_cap p {
  
  padding: 20px;
  margin-top: 50px;
  font-family: 'Patrick Hand', sans-serif;
  color: black;
  border-radius: 10px; 
  border: 3px solid black;
  margin: 20px;
  background-color: #EF743D;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
}




/*<<<<<<- TEMPORADA 2 ->>>>>>*/

#temporada2 {
  background-image: url(../images/galeria/Personajes.png);
  background-size: cover;
  background-position: center;
  overflow: visible;
  transition: all 0.7s ease-in-out;
  justify-content:end;
  
  
}
#temporada2 h3{
  transform: translateY(-90%) rotate(-4deg) scale(1.1);
  
}


#temporada2:hover {
  
  background-size: 115%;
  filter: hue-rotate(60deg) saturate(180%);

 
}
#temporada2 h3:hover {
  transform: translateY(-90%) scale(1.1);
  

  
}

/*<<<<<<- TEMPORADA 2 CAPITULOS ->>>>>>*/

#temporada2_cap {
  
  overflow: visible;
  transition: all 0.7s ease-in-out;
  justify-content:end;
  
}



#temporada2_cap h3{
  transform: translateY(-100%) rotate(-4deg) scale(1.1);
}


#temporada2_cap p:hover {
  transform: rotate(-4deg) scale(1.3);
  position:relative;
  z-index:400;
  filter: hue-rotate(60deg) saturate(150%);
}

#temporada2_cap p {
  
  padding: 20px;
  margin-top: 50px;
  
  font-family: 'Patrick Hand', sans-serif;
  color: black;
  border-radius: 10px; 
  border: 3px solid black;
  margin: 20px;
  background-color: #EF743D;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
}

/*<<<<<<- TEMPORADA 3 ->>>>>>*/

#temporada3 {
  background-image: url(../images/galeria/Temporada3.png);
  background-size: cover;
  background-position: center;
  overflow: visible;
  transition: all 0.7s ease-in-out;
}
#temporada3:hover {
  
  background-size: 115%;
  filter: hue-rotate(60deg) saturate(180%);

 
}

#temporada3 h3{
  transform: translateY(40%) rotate(2deg) scale(1.1);
  
}
#temporada3 h3:hover {
  transform: translateY(40%) scale(1.1);

}

/*<<<<<<- TEMPORADA 3 CAPITULOS ->>>>>>*/

#temporada3_cap {
  
  overflow: visible;
  transition: all 0.7s ease-in-out;
}


#temporada3_cap h3{
  transform: translateY(90%) rotate(2deg) scale(1.1);
}
#temporada3_cap p:hover {
  transform: rotate(4deg) scale(1.2);
  position:relative;
  z-index:400;
  filter: hue-rotate(60deg) saturate(150%);

}

#temporada3_cap p {
  
  padding: 20px;
  margin-top: 50px;
  font-family: 'Patrick Hand', sans-serif;
  color: black;
  border-radius: 10px; 
  border: 3px solid black;
  margin: 20px;
  background-color: #EF743D;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
}

/****************** Formulario ************************/

.formulario_contenedor{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 20px;
  width: 80%;
  max-height: 550px;
  margin-left: 12%;
  margin-bottom: 90px;
 
  
  justify-items: center;
}

.formulario_contenedor img{
  width: auto;
  height: 400px;
  border-radius: 10px;
  
  
  
}

.form {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  margin: calc(1vh) auto;
  padding: 10px 30px;
  box-sizing: border-box;
  font-family: 'Kosugi Maru', 'Patrick Hand', sans-serif;
  font-size: 14px;
  position: relative;

  background-color: #A6CA20;
  border: 2px solid black; 
}

input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all .3s;
  border-bottom: 2px solid #EF743D;
}

button {
  padding: 8px 12px;
  margin: 50px 0 0;

  cursor: pointer;
  transition: all .3s;
}

div.pie_contacto {
  position: absolute;
  bottom: -15px;
  background: #EF743D;
  color: black;
  width: 420px;
  padding: 16px 4px 16px 0;
  border-radius: 10px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  text-align: center;
  border: 2px solid #000000;
}

h3.contacto {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 150px;
  color: #000000;
  font-size: large;
}



/******************Footer************************/

footer {
  background-color: #f7e30c;
  padding-bottom: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 20px;
}


/*<<<<<<- Cassete ->>>>>>*/
#cassete {
  grid-column: 1 / 2;
  align-self: center;
  justify-self:flex-end;
  display: flex;
  padding: 7%;
}

#cassete img {
  width: 100%;
  max-width: 28vw;
}

#cassete img:hover {
  transform: rotate(-5deg) scale(1.05);

}


/*<<<<<<- Iconos Redes ->>>>>>*/
#social_media {
  grid-column: 2 / 3;
  align-self: center;
  justify-self: flex-start;
  display: flex;
  gap: 30px;
  padding-left:20%;
  
}

#social_media a {
  color: black;
  font-size: 3vw;
  background-color: transparent; 
  border: 3px solid #FF2273; 
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  
  transition: all 0.3s ease; 
  border-radius: 10px; 
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
}

#social_media a:hover {
  transform: scale(1.1);
  box-shadow:
    0 0 0 4px rgba(255, 34, 141, 1), 
    0 0 0 7px rgb(32, 202, 193), 
    0 0 0 10px rgba(166, 202, 32, 1), 
    0 0 0 14px rgba(239, 116, 61, 1); 
    border-radius: 30px; 
}


/*<<<<<<- Copyright ->>>>>>*/
#footer_texto {
  grid-column: 1 / 3;
  font-family: 'Kosugi Maru', sans-serif;
  color: black;
  font-size: 1.2vw;
}







/******************Keyframes************************/

@keyframes slide {
    0% {
        transform: translateX(0); 
      }
      100% {
        transform: translateX(-100%); 
      }
  }
  @keyframes temblor {
    0% { transform: translate3d(-2px, -20px, 0); } 
    10% { transform: translate3d(-4px, -20px, 0); } 
    20% { transform: translate3d(0px, -20px, 0); }
    30% { transform: translate3d(-4px, -20px, 0); }
    40% { transform: translate3d(0px, -20px, 0); }
    50% { transform: translate3d(-4px, -20px, 0); }
    60% { transform: translate3d(0px, -20px, 0); }
    70% { transform: translate3d(-4px, -20px, 0); }
    80% { transform: translate3d(0px, -20px, 0); }
    90% { transform: translate3d(-4px, -20px, 0); }
    100% { transform: translate3d(-2px, -20px, 0); } 
  }

  @media (max-width: 480px) {

 

    .titulo h1 {
      
      font-size: 8vw;
      margin-right: 40vw;
      padding-left: 10vw;
      padding-bottom: 4vw;
      
      
    }

    .titulos_amarillos, .capitulo h2 {
      transform: scale(0.9);
    }

    .header_alternativo {
      position: sticky; 
      display: flex;
      align-items: center; 
      justify-content: center;
      flex-wrap: wrap;   
      padding: 0;
      padding-top: 4vw;
      

    }
    


    #menu_alternativo {
      display: none;
    }

    #menu_alternativo.responsive {
      display: flex;
      padding: 0;
      padding-bottom: 3vw;

    }

    #menu_alternativo.responsive ul {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      
      
   
    }

    #menu_alternativo.responsive ul li a {
      font-size: 3vw;
      
   
    }



    #menu_alternativo ul li {
      margin: 10px 0; 
      
    }

    .icon {
    display: block;
    margin-right: auto;
    color:#000000;
    padding: 7px;
    border: 2px solid #000000;
    background-color:#A6CA20;
    border-radius: 10px; 
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
    margin-bottom: 5%;
    }

    #separador_responsive {

      display: block;
      margin-bottom: 0px;
      top:0;
      
      
      

    }

    #separador_alt {

      display: none;
      

    }

    .principal { 
        grid-template-columns: 1fr; 
        height: auto; 
        width: 80%; 
        margin-bottom: 0;
       
    }

    #inicio {

      grid-column: 1; 
      grid-row: 1 / 3;      
    }

    #inicio h2{
      transform: scale(0.8);
    }
    
    #inicio:hover {
      background-size: 110%;
    }
    
    
    #inicio a{
      display: flex;
      justify-content: center;
    }
 
    #inicio p{
     
      margin-bottom: 40vw;
      transform: translateY(-10%) scale(0.95);

      
    }
    
    #inicio p:hover{
      transform: rotate(0deg) scale(1.1);

    }

    #personajes { 
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto;
        gap: 10px;
        
    }

    #personajes a:last-child {
        grid-row: 1;
    }

    #galeria img { 
        width: 100%; 
        transform: translateY(10); 
    }

    .secundario { 
      
        grid-template-columns: 1fr; 
        height: auto;
        width: 90%;
    }

    #capitulos { 
        grid-column: 1;
        grid-row: 1;
    }

   

    .secundario {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr 1fr 1fr;        
      gap: 20px;                       
      width: 80%;    
      height: 900px;                   
      margin:  60px auto;      
                
    }
    #temporada1 h3{
      transform: translateY(70%) rotate(0deg) scale(1.05);
    }
    #temporada2 h3{
      transform: translateY(-90%) rotate(0deg) scale(1.05);
    }
    #temporada3 h3{
      transform: translateY(40%) rotate(0deg) scale(1.05);
    }

    #temporada1:hover{
      background-size:100%;
    }
    #temporada2:hover{
      background-size:100%;    }
    #temporada3:hover{
      background-size:100%;    }


      .galeria_contenedor {
        grid-template-columns: 1fr;
      }
      
      .galeria_contenedor img{
        width: 350px;  
      }

      .galeria_contenedor img:hover{
        transform: scale(1.08); 
      }

      .personajes_contenedor {
  
        margin-top:10%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 100%;    
        height: auto;  

      }

      .personajes_contenedor h2{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ventana-contenido {
        
        margin: 40% auto;
        padding: 20px;
        border: 2px solid black;
        width: 50%;
       
      }

      .ventana{
        transform: scale(1.5);
      }
      
      
      
      



      
     
    .formulario_contenedor { /* Form container adjustments */
        grid-template-columns: 1fr; /* Single column */
        width: 90%; /* Wider width */
    }

    .formulario_contenedor img {
        height: auto; /* Maintain aspect ratio */
    }

    .form { /* Form adjustments */
        height: auto; /* Auto height for form fields */
    }

    #footer_texto {
   
      font-size: 2vw;
    }

    #social_media {
      gap: 15px;
      padding-left:5%;
      
    }
    
    #social_media a {

      font-size: 4vw;
      width: 40px;
      height: 40px;

    }
    
    #social_media a:hover {
      transform: scale(1.05);
      box-shadow:
        0 0 0 2px rgba(255, 34, 141, 1), 
        0 0 0 4px rgb(32, 202, 193), 
        0 0 0 7px rgba(166, 202, 32, 1), 
        0 0 0 10px rgba(239, 116, 61, 1); 
    }
    

   
}

  