/******************Globales************************/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.icon{
  display:none;
}

body{
  background-color: #d52b82;
  
}

a{
  text-decoration: none;
}

.titulos_amarillos {
  text-align: center;
  color: black;
  background-color: #f7e30c;
  padding: 10px;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  font-family: 'Kosugi Maru', 'Patrick Hand', sans-serif;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index:1;
  border-radius: 10px; 
  border: 3px solid black;

}

.titulos_amarillos:hover {
  transform: rotate(-10deg) scale(1.05);
  
}

.titulos_verdes {
  text-align: center;
  color: #000000;
  background-color: #A6CA20;
  text-shadow:1px 1px 0px #ffffff; ;
  padding: 8px;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  font-family: 'Kosugi Maru', 'Patrick Hand', sans-serif;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index:1;
  border-radius: 10px; 
  border: 3px solid black;
  
}


/****************** Header ************************/
header {
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
}

/*<<<<<<- Imagen ->>>>>>*/
.img_header {
  grid-column: 1 / 2; 
  grid-row: 1 / 3; 
  overflow: hidden;
}
.img_header img {
  width: 100%; 
  height: 100%;
  transition: transform 0.3s;
}
.img_header:hover img {
  transform: scale(1.05); 
}


/*<<<<<<- Derry Girls ->>>>>>*/
.titulo {
  grid-column: 2 / 3; 
  grid-row: 1 / 2; 
  display: flex; 
  align-items: center;
  justify-content: flex-start;
}
.titulo h1 {
  font-family: 'Graduate', sans-serif;
  text-transform: uppercase;
  font-size: 6vw;
  text-align: center;
  letter-spacing: -0.02em; 
  line-height: 90%;
  color: #f7e30c;
  text-shadow: 5px 3px 0px rgba(0, 255, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
.titulo h1:hover {
  text-shadow: 5px 3px 0px rgba(0, 0, 0, 0.5);
  
}


/*<<<<<<- Barra de Nav ->>>>>>*/
nav {
  grid-column: 2 / 3; 
  grid-row: 2 / 3; 
  display: flex; 
  padding: 10%;
  align-items: start;
  justify-content: center;
  font-family: 'Kosugi Maru', 'Patrick Hand', sans-serif;
  font-weight: bold;
  text-align: right;
  letter-spacing: 2px;
}
nav ul{
  list-style: none;
}
nav ul li {
  margin-bottom: 3.1vw; 
}
nav ul li a{
  
  color: white;
  font-size: 1.6vw;
  text-transform: uppercase;
  transition: all 0.3s ease;

}
nav ul li a:hover {
  
  padding: 10px;
  box-shadow:
    0 0 0 4px rgba(255, 34, 141, 1), 
    0 0 0 7px rgb(32, 202, 193), 
    0 0 0 10px rgba(166, 202, 32, 1), 
    0 0 0 14px rgba(239, 116, 61, 1); 
    border-radius: 30px; 
    
  /*color: black;
  font-size: 1.85vw;
  background-color: #f7e30c;
  padding: 10px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  transform: translateY(-2px);*/
  
}



/****************** Separadores ************************/
#separador {
  background-color: #EF743D; 
  width: 100%; 
  overflow: hidden; 
  margin-bottom: 40px;
}
#separador p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: white;
  text-align: center;
  white-space: nowrap; 
  margin: 0;
  padding: 6px 0; 
  animation: slide 10s linear infinite; 
}

#separador2 {
  background-color: #A6CA20;
  width: 100%; 
  overflow: hidden; 
  
}
#separador2 p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: black;
  text-align: center;
  white-space: nowrap; 
  margin: 0;
  padding: 6px 0; 
  animation: slide 10s linear infinite; 
}



/****************** Principal ************************/

/*<<<<<<- Contenedor general ->>>>>>*/
.principal{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  width: 80%;
  height: 550px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.principal div{
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  border-radius: 10px; 
}


/*<<<<<<- BIENVENIDOS A DERRY ->>>>>>*/
#inicio {
  background-color: #FBEE66;
  border: 2px solid black;
  grid-column: 1; 
  grid-row: 1 / 3;
  background-image: url(../images/Inicio/Inicio3.png);
  background-size: 100%;
  background-position:bottom;
  background-repeat: no-repeat; 
  
  
}

#inicio:hover {
  background-size: 120%;
  background-color: #A6CA20;
  background-image: url(../images/Inicio/estrellas.png);
  background-position:bottom;
  

}

#inicio a{
  display: flex;
  justify-content: start;
  
}



#inicio p{
  text-align: center;
  color: black;
  background-color: #FF2273;
  padding: 10px;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 1);
  font-family: 'Patrick Hand', sans-serif;
  transition: transform 0.3s ease-in-out;
  
  border-radius: 10px; 
  border: 3px solid black;
  margin: 20px;
  transform: translateY(-10%) rotate(-5deg) scale(1.1);
  
  
}

#inicio p:hover{
  
  
  transform: translateY(-10%) rotate(0deg) scale(1.1);
  
  
}


/*<<<<<<- PERSONAJES ->>>>>>*/
#personajes, #galeria {
  background-color: #A6CA20;
  border: 2px solid black; 
}

#personajes{
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.9fr;
  grid-template-rows: 1fr auto;
  align-items: center;
}

#personajes a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#personajes img {
  max-width: 100%; 
  height: auto; 
  transition: transform 0.3s; 
}

#personajes a:last-child {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  
   
}

#personajes a:nth-child(1):hover img { 
  transform: rotate(-5deg) scale(1.05);
  filter:grayscale(1);
}
#personajes a:nth-child(2):hover img {
  transform: rotate(5deg) scale(1.05); 
  filter:grayscale(1);
}
#personajes a:nth-child(3):hover img { 
  transform: rotate(-5deg) scale(1.05);
  filter:grayscale(1);
}


/*<<<<<<- GALERIA ->>>>>>*/
#galeria{
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;

}

#galeria a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#galeria img {
  width: 90%;
  height: auto;
  transition: transform 0.3s;
  transform:translateY(-20px);
}

#galeria img:hover {
  animation: temblor 0.5s infinite;
}

#galeria a:first-child { 
  margin-left: 40%;
}




/****************** Secundario ************************/

/*<<<<<<- Contenedor general ->>>>>>*/
.secundario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  grid-template-rows: auto 1fr;        
  gap: 20px;                       
  width: 80%;    
  height: 350px;                   
  margin:  60px auto;      
            
}
.secundario div{
  border-radius: 10px; 
}


/*<<<<<<- CAPITULOS ->>>>>>*/
#capitulos {
  grid-column: 1 / 4;   
  display: flex;
  justify-content: center;
  align-items: center;
}

#temporada1, #temporada2, #temporada3 {
  background-color: #EF743D;
  color: white;
  text-align: center;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  
}

#temporada1 img, #temporada2 img, #temporada3 img {
  max-width: 90%;
  height: auto;
 
}

/*<<<<<<- TEMPORADA 1 ->>>>>>*/

#temporada1 {
  background-image: url(../images/galeria/Temporada1.png);
  background-size: cover;
  background-position: center;
  overflow: visible;
  transition: all 0.7s ease-in-out;
}
#temporada1:hover {
  background-size: 115%;
  background-color: #FBEE66;

}

#temporada1 h3{
  transform: translateY(70%) rotate(-5deg) scale(1.1);
}
#temporada1 h3:hover {
  transform: translateY(70%) scale(1.1);

}

/*<<<<<<- TEMPORADA 2 ->>>>>>*/

#temporada2 {
  background-image: url(../images/galeria/Personajes.png);
  background-size: cover;
  background-position: center;
  overflow: visible;
  transition: all 0.7s ease-in-out;
  justify-content:end;
  
  
}
#temporada2 h3{
  transform: translateY(-90%) rotate(-4deg) scale(1.1);
  
}


#temporada2:hover {
  
  background-size: 115%;
  background-color: #FBEE66;

 
}
#temporada2 h3:hover {
  transform: translateY(-90%) scale(1.1);

  
}

/*<<<<<<- TEMPORADA 3 ->>>>>>*/

#temporada3 {
  background-image: url(../images/galeria/Temporada3.png);
  background-size: cover;
  background-position: center;
  overflow: visible;
  transition: all 0.7s ease-in-out;
}
#temporada3:hover {
  
  background-size: 115%;
  background-color: #FBEE66;

 
}

#temporada3 h3{
  transform: translateY(40%) rotate(2deg) scale(1.1);
  
}
#temporada3 h3:hover {
  transform: translateY(40%) scale(1.1);

}



/******************Footer************************/

footer {
  background-color: #f7e30c;
  padding-bottom: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 20px;
}


/*<<<<<<- Cassete ->>>>>>*/
#cassete {
  grid-column: 1 / 2;
  align-self: center;
  justify-self:flex-end;
  display: flex;
  padding: 7%;
}

#cassete img {
  width: 100%;
  max-width: 28vw;
}

#cassete img:hover {
  transform: rotate(-5deg) scale(1.05);

}


/*<<<<<<- Iconos Redes ->>>>>>*/
#social_media {
  grid-column: 2 / 3;
  align-self: center;
  justify-self: flex-start;
  display: flex;
  gap: 30px;
  padding-left:20%;
  
}

#social_media a {
  color: black;
  font-size: 3vw;
  background-color: transparent; 
  border: 3px solid #FF2273; 
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  
  transition: all 0.3s ease; 
  border-radius: 10px; 
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
}

#social_media a:hover {
  transform: scale(1.1);
  box-shadow:
    0 0 0 4px rgba(255, 34, 141, 1), 
    0 0 0 7px rgb(32, 202, 193), 
    0 0 0 10px rgba(166, 202, 32, 1), 
    0 0 0 14px rgba(239, 116, 61, 1); 
    border-radius: 30px; 
}


/*<<<<<<- Copyright ->>>>>>*/
#footer_texto {
  grid-column: 1 / 3;
  font-family: 'Kosugi Maru', sans-serif;
  color: black;
  font-size: 1.2vw;
}





/******************Keyframes************************/

@keyframes slide {
    0% {
        transform: translateX(0); 
      }
      100% {
        transform: translateX(-100%); 
      }
  }
  @keyframes temblor {
    0% { transform: translate3d(-2px, -20px, 0); } 
    10% { transform: translate3d(-4px, -20px, 0); } 
    20% { transform: translate3d(0px, -20px, 0); }
    30% { transform: translate3d(-4px, -20px, 0); }
    40% { transform: translate3d(0px, -20px, 0); }
    50% { transform: translate3d(-4px, -20px, 0); }
    60% { transform: translate3d(0px, -20px, 0); }
    70% { transform: translate3d(-4px, -20px, 0); }
    80% { transform: translate3d(0px, -20px, 0); }
    90% { transform: translate3d(-4px, -20px, 0); }
    100% { transform: translate3d(-2px, -20px, 0); } 
  }

  





  